[submodule "modules/tinyusb"]
	path = modules/tinyusb
	url = https://github.com/hathach/tinyusb
[submodule "modules/lufa"]
	path = modules/lufa
	url = https://github.com/abcminiuser/lufa.git
[submodule "modules/pico-sdk"]
	path = modules/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "modules/avr-libstdcpp"]
	path = modules/avr-libstdcpp
	url = https://github.com/modm-io/avr-libstdcpp.git
